.tkp {
    color: var(--clr-white);
    display: grid;
    position: relative;
    padding-block: var(--spacing);
    @media screen and (min-width: 1500px){
        zoom: 0.9;
    }
    @media screen and (min-width: 1024px) and (max-width: 1500px){
        zoom: 0.75;
    }
    .conteudo{
        img{
            padding-bottom: 15%;
        }
        @media screen and (max-width: 1024px) {
            padding-bottom: 8%;
            padding-top: 10%;
        }
        @media screen and (min-width: 1024px) and (max-width: 1200px) {
            zoom: .9;
        }
        h5{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: clamp(0.9375rem, 3.5vw, 1.0625rem);
            line-height: 1.6875rem;
            padding-bottom: 1.5rem;
        }
        b{
            font-weight: 700;
            color: var(--clr-blue-dark);
        }
    }

    .content {
        gap: 130px;

        h1 {
            max-width: 25ch;
            line-height: 1.2;
            font-size: clamp(2rem, 3.5vw, 2.5rem);
            margin-bottom: 1.75rem;

            strong {
                color: var(--clr-green);
            }
        }
        h4{
            font-size: clamp(1rem, 3.5vw, 1.375rem);
            line-height: 1.75rem;
        }
        p {
            font-size: clamp(1rem, 3.5vw, 1.125rem);
            max-width: 45ch;
            margin-bottom: 3rem;
        }
    }
    background: url(../images/data-integration-bg-tp.png) center center no-repeat;
    background-size: cover;
    @media (min-width: 1024px) {
        .content {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            align-items: center;
        }
    }
    .btn{
        background-color: var(--clr-blue-light);
        margin-top: 40px;
    }
}
