.hero {
    background-color: var(--clr-blue-dark);
    color: var(--clr-white);
    padding-block: var(--spacing);
    display: grid;
    position: relative;

    @media (min-width: 600px) {
        &::after {
            content: "";
            position: absolute;
            inset: 0 0 0 0;
            background-image: url("https://21915545.fs1.hubspotusercontent-na1.net/hubfs/21915545/%5BBowe%5D%20Landing%20Pages/semantix-sdp/semantix_sdp-hero-mobile.svg");
            background-size: 90%;
            background-repeat: no-repeat;
            background-position: top right;
            display: block;
            z-index: 0;

            @media (min-width: 1000px) {
                background-size: 80%;
            }
        }

        &__container {
            z-index: 4;
        }
    }

    .content {
        z-index: 9999;
        > img {
            margin-bottom: clamp(3.5rem, 3.5vw, 6rem);
        }

        h1 {
            max-width: 25ch;
            line-height: 1.2;
            font-size: clamp(2rem, 3.5vw, 2.5rem);
            margin-bottom: 1.75rem;

            strong {
                color: var(--clr-green);
            }
        }

        p {
            font-size: 1.125rem;
            max-width: 45ch;
            margin-bottom: 3rem;
        }
    }

    .banner {
        display: none;
    }

    @media (min-width: 1250px) {
        background-image: url("https://21915545.fs1.hubspotusercontent-na1.net/hubfs/21915545/%5BBowe%5D%20Landing%20Pages/semantix-sdp/semantix_sdp-hero-banner.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        background-position-x: 110%;

        &::after {
            display: none;
        }

        &__container {
            display: grid;
            grid-template-columns: 1.25fr 1fr;
        }
    }

    @media (min-width: 1440px) {
        background-position-x: 100%;
    }

    @media (min-width: 1700px) {
        background-position-x: 90%;
    }

    @media (min-width: 2000px) {
        background-position-x: 76%;
    }
}
